<div class="modal-header">
  <h4 class="modal-title">Dodaj samochód</h4>
</div>
<div class="modal-body">
  <form [formGroup]="from" (ngSubmit)="onSave()">
    <div class="form-group">
      <label>Marka pojazdu</label>
      <input formControlName="brand" class="form-control">
    </div>
    <div class="form-group">
      <label>Model pojazdu</label>
      <input formControlName="model" class="form-control">
    </div>
    <div class="form-group">
      <label>Rok produkcji</label>
      <input formControlName="year" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </form>
</div>
