<input [formControl]="filter" class="form-control" />
<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">
      Marka pojazdu
      <button (click)="sort('brand', 'asc')" class="btn btn-sm btn-link">asc</button>
      <button (click)="sort('brand', 'desc')" class="btn btn-sm btn-link">desc</button>
    </th>
    <th scope="col">
      Model pojazdu
      <button (click)="sort('model', 'asc')" class="btn btn-sm btn-link">asc</button>
      <button (click)="sort('model', 'desc')" class="btn btn-sm btn-link">desc</button>
    </th>
    <th scope="col">
      Rok produkcji
      <button (click)="sort('year', 'asc')" class="btn btn-sm btn-link">asc</button>
      <button (click)="sort('year', 'desc')" class="btn btn-sm btn-link">desc</button>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars$ | async; let index = index">
      <tr *ngIf="!filter.value || filter.value === car.model">
        <td>{{car.brand}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>
          <button (click)="openEditCarForm(car, index)" class="btn btn-warning mr-3">edytuj</button>
          <button (click)="removeCar(index)" class="btn btn-danger">usuń</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<button (click)="openAddCarForm()" class="btn btn-primary">dodaj</button>
